body{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.section-wraper{
    width:100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    max-width: 1175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 40px;
    gap: 597px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding-bottom: 83px;
    max-width: 1180.28p;
}
@media (max-width: 1120px){
    .header{
        gap: 300px;
    } 
    .hero-cont{
        width: 100px;
        gap: 30px;
    }
}
@media (max-width: 1000px){
    .hero-cont{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 900px){
    .header{
        gap: 100px;
    }
}
@media (max-width: 375px){
    .hero-cont{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 30px;
        width: 335px;
    }
}
@media (max-width: 375px){
    .header{
        width: 335px;}
    }