body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 1175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding-bottom: 83px;
    max-width: 1180.28px;
}
@media (max-width: 700px){
    .hero-cont{
        display: flex;
        flex-wrap: wrap-reverse;
    }
}
@media (max-width: 375px){
    .hero-cont{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 30px;
        width: 335px;
    }
    .header{
        width: 335px;}
} 
