
.logo-descr{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.logo{
    width: 70px;
    height: 48.31px;
}
.logo-name{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 125%;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}
.link{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: white;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
@media (max-width: 375px){
    .logo{
        width: 45px;
        height: 31.06px;
    }
    .logo-name{
        font-size: 30px;}
    .nav{
    display: flex;
    flex-direction :column;
    }
}