
.logo-descr{
    display: inline-flex;
    gap: 18px;
}
.logo{
    width: 70px;
    height: 48.31px;
}
.logo-name{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 125%;
}
.nav{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 30px;
}
.link{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: white;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.hamburger {
    display: none;
    transition: transform 1s;
}
.hamburger *{
    font-size: 60px;
    color:white;
    text-decoration: none;
}
@media (max-width: 700px){
    .nav{
        display: none;
    }
    .hamburger{
        display: inline-block;
    }
}
@media (max-width: 375px){
    .logo{
        width: 45px;
        height: 31.06px;
    }
    .logo-name{
        font-size: 30px;}
}