.header{
    width: 1175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.header > .logo-descr{
    display: inline-flex;
    gap: 18px;
}
.logo-descr > .logo{
    width: 70px;
    height: 48.31px;
}
.logo-descr > .logo-name{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 125%;
}
.nav{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 30px;
}
.nav > .link{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: white;
    text-decoration: none;
}
.nav > .link:hover{
    text-decoration: underline;
}
.hamburger {
    display: none;
    transition: transform 1s;
}
.fa.fa-bars{
    color:white;
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
}
.fa.fa-bars:hover{
    color:aquamarine;
    font-size: 35px;
}
@media (max-width: 700px){
    .nav{
        display: none;
    }
    .hamburger{
        display: inline-block;
    }
}
@media (max-width: 375px){
    .logo-descr > .logo{
        width: 45px;
        height: 31.06px;
    }
    .logo-descr > .logo-name{
        font-size: 30px;}
}