@import '../base/base.css';
@import '../base/layout.css';
@import '../components/header.css';
@import '../components/button.css';
@import '../3rd-party/font-awesome.min.css';
@import '../components/footer.css';

.hero-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding-bottom: 83px;
    max-width: 1180.28px;
}
.hero-topics{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 416px;
}
.hero-topics > .topic1{
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.hero-topics > .topic2{
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson Text', sans-serif;
}
.hero-topics > .text{
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
}
.hero .pic-friends{
    max-width: 644.28px;
}
.pic-friends > .friends{
    width: 100%;
}
.partners-logo-section{
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-logo-section > .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 55px;
    margin-top: 60px;
}
.content > .section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 411px;
}
.section1 > .name1{
    color: #74C69D;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.section1 > .name2{
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson Text', sans-serif;
    text-align: center;
}
.section1 > .name3{
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
}
.partners-logo-section .sites{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 68px;
    max-width: 1158.98px;
}
.sites > .google{
    max-width: 152.64px;
}
.sites > .microsoft{
    max-width: 210.85px;
}
.sites > .airbnb{
    max-width: 160.29px;
}
.sites > .facebook{
    max-width: 196.38px;
}
.sites > .spotify{
    max-width: 166.82px;
}
.sites .pic{
    width: 100%;
}
.meeting-section,
.creative-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meeting-section > .meeting-block,
.creative-section > .creative-block{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1180px;
    margin-top: 43px;
    gap: 110px;
}
.meeting-block > .pic-peole,
.creative-block > .pic-person{
    max-width: 600px;
}
.pic-peole > .people,
.pic-person > .person{
    width: 100%;
}
.meeting-content,
.creative-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    max-width: 470px;
}
.meeting-content > .topic,
.creative-content > .topic{
    font-family: 'Crimson Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #212529;
}
.meeting-content > .text,
.creative-content > .text{
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
}
.talents-block{
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 45px;
    max-width: 1176px;
    margin-bottom: 54px;
}
.talents-block > .talents-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    max-width: 404px;
}
.talents-content > .topic1{
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #74C69D;
}
.talents-content > .topic2{
    font-family: 'Crimson Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #212529;
}
.talents-content > .text{
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
}
.talents-section .portraits{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 47px;
}
.portraits > .portrait01{
    max-width: 279px;
}
.portraits > .portrait{
    max-width: 252px;
}
.portraits .img{
    width: 100%;
}

@media (max-width: 700px){
    .partners-logo-section > .content > .section1{
        width: 100%;
    }
    .partners-logo-section .sites,
    .meeting-section > .meeting-block,
    .talents-section .portraits{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .creative-section > .creative-block,
    .hero-cont{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center; 
        width: 100%;
    }
}
@media (max-width: 375px){
    .hero-topics > .topic2{
        font-size: 28px;
    }
    .section1 > .name2,
    .meeting-content > .topic,
    .creative-content > .topic,
    .talents-content > .topic2{
        font-size: 24px;
    }
}